.main_button{
    position: relative;
    width: 224px;
    cursor: pointer;
    z-index: 3;
    
    button{
        background-color: transparent;
        width: 224px;
        height: 57px;
        border: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        text-align: left;
        text-align: center;
        z-index: 6;

        
    }
    .line1{
        position: absolute;
        width: 222px;
        height: 57px;
        border-top: 1px solid #372821;
        border-left: 1px solid #372821;
        border-right: 1px solid #372821;
        top: 0;
        left: 0;
        z-index: 3;
    }
    .line2{
        position: absolute;
        width: 12px;
        height: 57px;
        border-bottom: 1px solid #372821;
        top: 0;
        left: 0;
        z-index: 3;
    }
    .line3{
        position: absolute;
        width: 178px;
        height: 57px;
        border-bottom: 1px solid #372821;
        top: 0;
        right: 0;
        z-index: 3;
    }
    .icon{
        top: 27px;
        left: 24px;
        position: absolute;
        z-index: 4;
        
    }
    
}
.line_dec1{
    position: absolute;
    width: 224px;
    height: 57px;
    border-top: 1px solid #372821;
    border-right: 1px solid #372821;
    top: 0;
    left: 0;
    z-index: 3;
}
.line_dec2{
    position: absolute;
    width: 14px;
    height: 57px;
    border-bottom: 1px solid #372821;
    left: 0;
    top: 0;
    z-index: 3;
}
.line_dec3{
    position: absolute;
    width: 176px;
    height: 57px;
    border-bottom: 1px solid #372821;
    right: 0;
    top: 0;
    z-index: 3;
}
.background_hover{
    position: absolute;
    width: 224px;
    height: 57px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: -1;
}
.main_button:hover .background_hover {
    transition: 0.5s;
    background-color: #F2F2F2;
    top: 11px;
    left: 11px;
}
