@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@font-face {
    font-family: "Gotham Pro";
    font-display: swap;
    src: url("../fonts/GothamProBlack.woff") format("woff"), url("../fonts/GothamProBlack.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Pro";
    font-display: swap;
    src: url("../fonts/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Pro";
    font-display: swap;
    src: url("../fonts/GothamProLight.woff") format("woff"), url("../fonts/GothamProLight.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #372821;
}


@import "normalize";
@import "mainButton";
@import "fonts";
@import "container";
@import "header";
@import "common";
@import "history";
@import "topCategory";
@import "footer";
